{{#partial "contenido"}}
<div class="row">
    <div class="col-md-12" style="">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre Empresa</th>
                <th>Año</th>
                <th>Semestre</th>
                <th>Cuenta</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {{#each empresa}}
                <tr>
                    <td>{{index}}</td>
                    <td>{{this.nombre}}</td>
                {{#each periodos}}
                    <td>{{this.anio}}</td>
                    <td>{{this.semestre}}</td>
                    {{#each cuentas}}
                        <td>{{this.nombre}}</td>
                        <td>{{this.valor}}</td>
                    {{/each}}
                {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/partial}}
{{>layoutEmpresa.hbs}}