{{#partial "contenido"}}

    <div class="row">
        <div class="col-md-12" style="">
            <table class="table">
                <thead style="background-color:MediumAquaMarine">
                <tr>
                    <th>#</th>
                    <th>Indicador</th>
                    <th>Fórmula</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each indicadores}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.formula}}</td>
                    {{#if puedeSerBorrado}}
                    	<td>
                    		<form action="/indicadores/baja/{{url}}" method="POST">
                    			<button class="btn btn-danger" type="submit">Borrar</button>
                    		</form>
                    	</td>
  					{{else}}
  						<td>No puede ser borrado</td>
  					{{/if}}
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-12" style="">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">Resultados</p>
                    </div>
                </div>
                <table class="table">
                    <thead style="background-color:MediumAquaMarine">
                    <tr>
                        <th>#</th>
                        <th>Indicador</th>
                        <th>Empresa</th>
                        <th>Año</th>
                        <th>Semestre</th>
                        <th class="text-info">Resultado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each snapshots}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this.registroIndicador.nombre}}</td>
                        <td>{{this.nombreEmpresa}}</td>
                        <td>{{this.anio}}</td>
                        <td>{{this.semestre}}</td>
                        <td class="">{{this.resultado}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

{{/partial}}
{{>layoutIndicadores.hbs}}